{% extends "base.html" %}

{% block content %}

<h1 class = 'post_head'>Log in to Build-a-Blog</h1>
<br>

<br><br>
<form action="/login" method="post">
    
            <label class = 'body' for="email">Email</label>
            &ensp;
            &ensp;
            <br><br>
                <input name="email" type="text" value="{{email}}" placeholder = 'Enter your username'>
                {% if error_email_empty %}
                    <p class = 'error'>Please provide your username.</p>
                {% endif %}

                {% if error_email %}
                    <p class = 'error'>That username is not currently issued.</p>
                {% endif %}
            <br><br>
        
           <label class = 'body' for="password">Password</label>
            &ensp;
            &ensp;
            <br><br>
                <input name="password" type="password" placeholder="Enter your password">
                {% if error_password_empty %}
                    <p class = 'error'>Please enter your password.</p>
                {% endif %}
                {% if error_password %}
                    <p class = 'error'>That password didnt match.</p>
                {% endif %}
            <br><br>
        
    
    <input type="submit" value="Login">
</form>

{% endblock %}
