{% extends "base.html" %}

{% block content %}

<h1 class = 'title'>Register</h1>

{% if duplicate_user %}
<p class = 'error'>That email is already taken...</p>
{% endif %}

<form action='/register' method="POST" id = 'register_form'>
    <label class = 'body'>Email</label><br><br>
    <input type="text" name="email" id="" placeholder = "Enter a username..." value = ''>

    {% if error_email %}
    <p class = 'error'>Enter a username...</p>
    {% endif %}

    <br><br>
    <label class = 'body'>Password</label><br><br>
    <input type="text" name="password" id="" placeholder="Select a password..." value = ''>

    {% if error_password %}
    <p class = 'error'>Enter a password...</p>
    {% endif %}

    <br><br>
    <label class = 'body'>Retype password</label><br><br>
    <input type="text" name="verify" id="" placeholder="Retype password..." value = ''>

    {% if error_password %}
    <p class = 'error'>Enter a password...</p>
    {% endif %}

    <br><br>
    <input type="submit" name = "register_submit" placeholder = "Register" value = 'Register'>

</form>

{% endblock %}